.daysoftheweek {

  margin-top: 13rem;
  margin-bottom: 10rem;

  & ul {
  text-decoration: none;
  list-style-type: none;

  & li {
    display: inline-block;

    & button {
      height: 10rem;
      width: 10rem;
      border-radius: 1000px;
      outline: none;
      border: none;
      cursor: pointer;
      margin-right: 1rem;
      }

      & button:hover {
        transform: scale(1.1);
      }
    }
  }
}
