.user-column {
  display: flex;
  flex-direction: column;
 align-items: center;

 & h2 {
   font-size: 3rem;
 }

 & button {
  width: 100%;
  padding: 1.5rem;
  border: none;
  outline: none;
  margin: 1.5rem;
  cursor: pointer;

 }
}